
.mainTitle {
    max-width: 100%;
}

label {
    font-size: 20px;
}

.success {
    background-color: lightgreen;
    padding: 10px;
}

.cancel {
    background-color: lightcoral;
    padding: 10px;
}

a {
    cursor: pointer;
}